@use "../utils/functions" as f;
@use "../globals/colors" as c;
@use "../globals/variables" as v;

.app {
    &__background {
        background-image: url("./images/site-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__title {
        display: block;
        margin: f.px-to-em(8) auto;        
        
        text-align: center;
        font-size: f.px-to-em(36);
        color: map-get(c.$colors, "white");
        text-shadow: v.$text-shadow;
    }
    &__tagline {
        display: block;
        margin: f.px-to-em(8) auto;        
        
        text-align: center;
        font-size: f.px-to-em(20);

        color: map-get(c.$colors, "white");
        text-shadow: v.$text-shadow;
    }
}