@use "./colors" as c;
@use "./variables" as v;
@use "../utils/functions" as f;

.disabled {
  cursor: auto !important;
  filter: opacity(0.5) !important;
  /* pointer event to disable any hover effect*/
  pointer-events: none;
}

.cannot-be-selected {
  -webkit-user-select: none !important;
  user-select: none !important;
}

.border-top {  
  border-top: f.px-to-em(2) solid map-get(c.$colors, "white"); 
}

.border-bottom {  
  border-bottom: f.px-to-em(2) solid map-get(c.$colors, "white");
}

@each $key, $color in v.$agenda-list {
  .bg-#{$key} {
    background-color: $color !important;
  }
}