@use "./fonts" as f;
@use "../mixins/custom-scrollbar" as s;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
  font-family: f.$font-fam;
}

body {
    margin: 0;
    min-height: 100vh;
    @include s.custom-scrollbar(15);
}

h1 {
  margin-block: 0;
  margin-inline: 0;
}

ul {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

button {
  padding: 0;
  border-style: none;
  font-family: inherit;
}