@use "../utils/functions" as f;

@mixin button {
  padding: f.px-to-em(8);
  border-radius: f.px-to-em(8);
  font-size: f.px-to-em(18);
  cursor: pointer;

  /* prevent text element to be selected */
  -webkit-user-select: none;
  user-select: none;
}
