@use "../globals/colors" as c;
@use "../globals/variables" as v;
@use "../utils/functions" as f;
@use "sass:color";

@mixin custom-scrollbar($pxl-size) {
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;

  /* custom scrollbar for firefox */
  @if ($pxl-size > 10) {
    scrollbar-width: thin;
  } @else {
    scrollbar-width: auto;
  }
  scrollbar-color: rgba(map-get(c.$colors, "black"), 0.3)
    rgba(map-get(c.$colors, "white"), 0.3);

  &:hover {
    scrollbar-color: mix(#fff, map-get(c.$colors, "black"), $weight: 20%);
  }

  &::-webkit-scrollbar-track {
    box-shadow: v.$inset-box-shadow;
    border-radius: f.px-to-em($pxl-size);
    background-color: rgba(map-get(c.$colors, "white"), 0.3);
  }

  &::-webkit-scrollbar {
    width: f.px-to-em($pxl-size);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: f.px-to-em($pxl-size);
    background-color: map-get(c.$colors, "black");

    &:hover {
      background-color: mix(#fff, map-get(c.$colors, "black"), 20%);
    }
  }

}
